<%- include('header.ejs') -%>
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
       
          
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <img class="position-relative w-5   " src="/assets/img/carousel-1.jpg" ">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Students Material</h5>
                            <h1 class="display-3 text-white mb-md-4">Get Material From Your Home</h1>
                        
                        </div>
                    </div>
                </div>
                <!-- <div class="carousel-item " style="min-height: 300px;">
                    <img class="position-relative w-100" src="/assets/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="carousel-item active" style="min-height: 300px;">
                    <img class="position-relative w-100" src="/assets/img/carousel-3.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                        </div>
                    </div>
                </div> -->
            </div>

    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h2>Welcome to<br> student material management!!....</h2>
                    </div>
                    <p>

                        We are a team of passionate educators who are committed to providing our students with the best possible learning experience. We believe that all students deserve access to the resources they need to succeed, and that includes having access to their course materials in a convenient and efficient way.
                        
                        That's why we created Student Material Management. This website allows our students to:
                        
                        Access their course materials from anywhere, at any time
                        Download and print their course materials
                        Share and collaborate on course materials with their classmates
                       
                        We believe that Student Material Management can help our students save time and money, and that it can make it easier for them to focus on their studies.</p>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <%- include('footer.ejs') -%>